.container-flex{

    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center;/*vertical*/
    height: 85vh;
}

.texto-home h1, .texto-home p, .texto-home {
    color: #ffffff;
}

.btnHome{

    color: #ffffff;
    border: 1px solid #ffffff;
    background-color:transparent;
    border-radius: 4px !important;

}
.btnHome a{
    color: #ffffff;
}

.btnHome a:hover{
    text-decoration: none;
}

.btnHome:hover{
    color: #ffffff;
    border: 1px solid #6cb2eb;


}
